h3 {
    color: aqua;
}

body {
    background-image: url(imagens/uuuu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color:  black;
    

}

p {
    color: aliceblue;
}

footer {
    color: white;
}

a{
    background-color: azure;
 
}