body {
    background-image: url(imagens/oooo.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1 {
    font-size: 400%;
    font-variant: small-caps;
    font-size-adjust: inherit;
    color: rgb(0, 129, 209);
    font-style: oblique;
}

strong {
    font-size: 1000%;
}

body{
    color: red;
}

a{
    margin: 30px 100px 100px 30px;
    border-width: 10px;
    border-style: double;
    border-color: rgb(0, 129, 209);
    padding: 5px;
    background-color: azure;

}